main {
    padding: 0 200px;
}

div {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

.first {
    margin-bottom: 50px;
}

table {
    width: 600px;
}

tt, td {
    padding: 5px;
}