<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>География</title>
        <link href="./css/style.css" rel="stylesheet">
        <link href="./css/table.css" rel="stylesheet">
        <link href="./css/geography.css" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <nav class="site-navigation">
                <ul class="site-navigation-list">
                    <li class="site-navigation-list-item"><a href="demand.html">Востребованность</a></li>
                    <li class="site-navigation-list-item active"><a href="geography.html">География</a></li>
                    <li class="site-navigation-list-item"><a href="skills.html">Навыки</a></li>
                    <li class="site-navigation-list-item"><a href="recent-vacancies.html">Последние вакансии</a></li>
                </ul>
                <a href="index.html"><img class="main-logo" src="./img/header_logo.svg" width="172" height="35" alt="Логотип Testin"></a>
            </nav>
        </header>
        <main>
            <div class="first">
                <img src="./img/salaryCity.png" height="400" alt="График уровня зарплат по городам">
                <table class="salary-city-table">
                    <tr><th>Город</th><th>Уровень зарплат</th></tr>
                    <tr><td>Москва</td><td>56651</td></tr>
                </table>
            </div>
            <div>
                <table class="vacancies-city-table">
                    <tr><th>Город</th><th>Доля вакансий</th></tr>
                    <tr><td>Москва</td><td>56651</td></tr>
                </table>
                <img src="./img/vacanciesCity.png" height="400" alt="График доли вакансий по городам">
            </div>
        </main>
        <footer class="main-footer">
            <img class="footer-logo" src="./img/footer_logo.svg" width="144" height="28" alt="Логотип Testin">
            <div class="author">
                <p>© Трефелова Алина Николаевна</p>
                <p>РИ-210944</p>
            </div>
            <a class="git" href="https://github.com/malinainsugar/Trefelova"><img  src="./img/git.svg" width="43" height="43" alt="github"></a>
            <ul class="footer-navigation-list">
                <li class="footer-navigation-list-item"><a href="demand.html">Востребованность</a></li>
                <li class="footer-navigation-list-item"><a href="geography.html">География</a></li>
                <li class="footer-navigation-list-item"><a href="skills.html">Навыки</a></li>
                <li class="footer-navigation-list-item"><a href="recent-vacancies.html">Последние вакансии</a></li>
            </ul>
        </footer>
    </body>
</html>